            body {
                font-family: Arial, sans-serif;
                background-size: 300px;
              background-color:#cabcbc40;
         }
            section {
                border: 5px solid #604808;
                background-color: white;
                width: 60%;
                margin: 20px auto;
                padding: 15px;
                text-align: center;
            }
            h1 {
                color: #604808;
                text-align: center;
                font-size: 27px;
            }
            p{
                color: #8b5e34;
                font-size: 17pt;
                line-height: 1.4;
            }
        
            
          
            /* Navigation bar styling */
      
    nav {
      background-color: #5a3825; /* background color */
      padding: 10px; /* the hight of the nav bar */
    }

    nav ul {
      list-style: none; /* Remove bullet points */
      margin: 0;
      padding: 0;
      display: flex; /* Display horizontally */
      justify-content: center;
    }

    nav ul li {
      margin: 0 15px; /* Space between nav items */
    }

    nav ul li a {
      text-decoration: none; /* Remove underline */
      color: white;
      font-weight: bold;
    }

